.topper{
    height: 12vh;
}
.sidebar{
    margin: 0;
    padding: 3%;
    padding-left: 10%;
    height: 100vh;

}
.sidebar div{
    margin-bottom: 4%;
}

.text-black{
    color: black;
}

.sidebar{
    background-color: white;
}
