<div class="row">

    <div class="sidebar col-md-2">
        <app-loyee-slidebar></app-loyee-slidebar>
    </div>

    <div class="content col-md-10">
        <app-loyee-navbar></app-loyee-navbar>
        <div id="content">
            <div class="row">
                <div class="overview bg-light card col-md-7 row">
                    <div class="col-md-4">
                        <h6>Dashboard</h6>
                        <p>Overview of latest month</p>

                        <h4>300000</h4>
                        <p>Current month earnings</p>

                        <h4>Top few</h4>
                        <p>Company rating status</p>
                    </div>

                </div>

                <div class="card bg-light pie-chart col-md-4">
                    <h1>Expected Pie Chart</h1>
                </div>

            </div>
            <div class="row general-cards">
                <div class="card bg-light general-card col-md-3">
                    <p>34 leave days</p>
                </div>
                <div class="card bg-light general-card middle col-md-3">
                    <p>20 Uncomplete Tasks</p>
                </div>
                <div class="card bg-light general-card col-md-3">
                    <p>50 complete Tasks</p>
                </div>

            </div>
            <div class="row">
                <div class="card bg-light activities col-md-4">
                    <h6>Recent Activities</h6>
                </div>
                <div class="card bg-light rtasks activities col-md-7">
                    <h6>Recent Tasks</h6>
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Task</th>
                                <th scope="col">Start</th>
                                <th scope="col">Assigner</th>
                                <th scope="col">Deadline</th>
                                <th scope="col">Status</th>
                                <th scope="col">View</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">001</th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                                <td>Pending</td>
                                <td>View</td>
                            </tr>
                            <tr>
                                <th scope="row">002</th>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>@fat</td>
                                <td>Pending</td>
                                <td>View</td>
                            </tr>
                            <tr>
                                <th scope="row">003</th>
                                <td>Larry</td>
                                <td>the Bird</td>
                                <td>@twitter</td>
                                <td>Pending</td>
                                <td>View</td>
                            </tr>
                            <tr>
                                <th scope="row">004</th>
                                <td>Larry</td>
                                <td>the Bird</td>
                                <td>@twitter</td>
                                <td>Pending</td>
                                <td>View</td>
                            </tr>
                            <tr>
                                <th scope="row">004</th>
                                <td>Larry</td>
                                <td>the Bird</td>
                                <td>@twitter</td>
                                <td>Pending</td>
                                <td>View</td>
                            </tr>
                            <tr>
                                <th scope="row">005</th>
                                <td>Larry</td>
                                <td>the Bird</td>
                                <td>@twitter</td>
                                <td>Pending</td>
                                <td>View</td>
                            </tr>
                            <tr>
                                <th scope="row">006</th>
                                <td>Larry</td>
                                <td>the Bird</td>
                                <td>@twitter</td>
                                <td>Pending</td>
                                <td>View</td>
                            </tr>
                        </tbody>
                    </table>
                    
                </div>

            </div>
        </div>
    </div>

</div>