<div class="row">
    <div class="sidebar col-md-2">
        <app-loyee-slidebar></app-loyee-slidebar>
    </div>
    <div class="col-md-10 content">
        <app-loyee-navbar></app-loyee-navbar>
        <div class="card" id="content">
            <h4><strong>Task Title</strong></h4>
            <h6><strong>Assigned By:</strong> {{requestedTask.assigner}}</h6>
            <h6><strong>Assigned on:</strong> {{requestedTask.start}}</h6>
            <h6><strong>Status:</strong>{{requestedTask.status}}</h6>
            <div class="details">
                <h5><strong>Description</strong></h5>
                <p>
                    {{requestedTask.description}}
                </p>
                <div class="reviews bg-light card">
                    <h6><strong>Reviews</strong></h6>
                    <p>No Reviews Yet</p>
                </div>
                <div class="actions">
                    <h6><strong>Mark as:</strong></h6>
                    <button (click) = "markTask(0, 'Complete')" value="complete" class="btn btn-primary">Complete</button>
                    <button (click) = "markTask(0, 'Incomplete, needs to be revisited.')" value="incomplete" class="btn btn-danger">incomplete</button>

                </div>

            </div>
        </div>
    </div>
</div>