<div class="row">
    <div class="sidebar col-md-2">
        <app-loyee-slidebar></app-loyee-slidebar>
    </div>
    <div class="col-md-10 content">
        <app-loyee-navbar></app-loyee-navbar>
        <div class="card" id="content">
            <h4><strong>Task Title</strong></h4>
            <h6><strong>Assigned By:</strong> {{requestedTask.assigner}}</h6>
            <h6><strong>Assigned on:</strong> {{requestedTask.start}}</h6>
            <h6><strong>Status:</strong> {{requestedTask.status}}</h6>
            <div class="details">
                <h5><strong>Description</strong></h5>
                <p>
                    {{requestedTask.description}}
                </p>
                <div class="reviews bg-light card">
                    <h6><strong>Reviews</strong></h6>
                    <p>No Reviews Yet</p>
                </div>
                <div class="actions">
                    <button (click) = "actOnTask(requestedTask.id -1, 'Started')" value="started" class="btn btn-primary">Start</button>
                    <button (click) = "actOnTask(requestedTask.id -1, 'completed')" value="completed" class="btn btn-danger">Finish</button>

                </div>

            </div>
        </div>
    </div>
</div>