<div class="sidebar">
    <div class="topper">

    </div>

    <div class="dashboard">
        <a class="nav-link text-white" routerLink="/admin/dashboard">Dashboard <span
                class="sr-only">(current)</span></a>
    </div>

    <div class="leaves">
        <a class="text-white nav-link" routerLink="/admin/leaveboard">Leaves</a>
    </div>

        <div class="leaves">
            <a class="nav-link text-white" routerLink='/admin/taskassignment'>Assign Tasks</a>
        </div>


    <div class="leaves">
        <a class="nav-link text-white" routerLink='/admin/login'>Logout</a>
    </div>


</div>