body{
    background-color:#a8dadc;
}
.content{
    background-color:#a8dadc;
    padding: 0;
}
.sidebar{
    background-color: #1d3557;
    width: 10%;
    padding: 2%;
    margin-right: 0;
    border-right: 1px solid darkslategray; 
}
.navigation{
    width: 10%;
}

.pageCard{
    background-color: #f1faee;
    box-shadow: 1px 1px 8px  #1d3557;
}

#content{
    background-color:#a8dadc;
    margin: 2%;
    padding: 2%;
    margin-right: 3%;
    margin-left: 5%;

}

.general-card{
    font-size: 30px;
    font-weight: 500;
    align-items: center;
    text-align: center;
    margin: 2%;
    height: 20vh;
    
}

.middle{
    margin: 2% 8%;
}

.overview{
    margin-left:2%;
    height: 40vh;
    padding: 1%;
    font-size: 13px;
}

.overview h4{
    font-weight: 900;
}

.thead{
    background-color: #1d3557;
    color: white;
}

.pie-chart{
    margin: 0;
    margin-left: 4%;
    height: 40vh;
}

.activities{
    height: 60vh;
    margin-left:2%;
    padding: 2%;
}

.rtasks{
    overflow-y: scroll;
    height: 60vh;
    padding: 2%;   
}