<div class="row">

    <div class="sidebar">
        <app-loyee-slidebar></app-loyee-slidebar>
    </div>

    <div class="content col-md-10">
      
        <div id="content">
            <div class="row">
                <div class="overview pageCard card col-md-5 row">
                    <div class="">                        
                        <h3><em>Dancan Sandys</em></h3>
                        <h3><em>dancan.oruko96@gmail.com</em></h3>
                        <h3><em>0727564080</em></h3>
                        <h3><strong><em>Ext: </em></strong><em>40310</em></h3>
                        <h3><strong><em>Salary: </em></strong><em>100000</em></h3>
                        <h3>{{user.activestatus}}</h3>
                    </div>

                </div>

                <div class="card pageCard pie-chart col-md-6">
                    <h1>Expected Pie Chart</h1>
                </div>

            </div>
            <div class="row general-cards">
                <div class="card pageCard general-card col-md-3">
                    <p>34 leave days</p>
                </div>
                <div class="card pageCard general-card middle col-md-3">
                    <p>20 Uncomplete Tasks</p>
                </div>
                <div class="card pageCard general-card col-md-3">
                    <p>50 complete Tasks</p>
                </div>

            </div>
            <div class="row">
                <div class="card pageCard activities col-md-4">
                    <h6>Recent Activities</h6>
                </div>
                <div class="card pageCard rtasks activities col-md-7">
                    <h6>Recent Tasks</h6>
                    <table class="table">
                        <thead class="thead">
                            <tr>
                                <th scope="col">Task</th>
                                <th scope="col">Start</th>
                                <th scope="col">Assigner</th>
                                <th scope="col">Deadline</th>
                                <th scope="col">Status</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let task of tasks" routerLink='/staff/tasks' (click)='getSingleTask(task.id)'>
                                <th scope="row">{{task.id}}</th>
                                <td>{{task.start | date}}</td>
                                <td>{{task.assigner}}</td>
                                <td>{{task.deadline | date}}</td>
                                <td>{{task.status}}</td>

                            </tr>

                        </tbody>
                    </table>

                </div>

            </div>
        </div>
    </div>

</div>